@font-face {
    font-family: tv;
    src: url(../fonts/1989.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: tv;
    letter-spacing: 1px;
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 10vh;
}

header h2 {
    text-align: center;
    font-weight: 900;
    color: #a0b3c3;
    font-size: 55px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    font-size: 15px;
    font-weight: 900;
    display: block;
    color: #a0b3c3;
    text-align: center;
    padding: 14px 29px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #cfcfcf;
}

.background-container {
    margin-top: 10vh;
    text-align: center;
}

.background-container img {
    width: 80vw;
}

.sobre-containeir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.sobre-containeir h2 {
    color: #a0b3c3;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.foto-polaroid,
.texto-sobre {
    margin: 20px;
}

.foto-polaroid img {
    width: 600px;
    height: auto;
}

.texto-sobre {
    font-weight: 900;
    font-size: 24px;
    text-align: justify;
    max-width: 600px;
}

.polaroids-container {
    display: flex;
    justify-content: center;
}

swiper-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 400px;
    margin: 20px auto;
}

swiper-slide {
    width: 200;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}

swiper-slide img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 30px;
}

swiper-slide p {
    color: #83a1b9;
    margin-top: 10px;
    font-weight: 800;
}

.vinil-container{
    display: flex;
    justify-content: center;
    transition: .35s;
    cursor: pointer;
}

.vinil-container:hover > :not(:hover){
    opacity: 70%;
    transform: scale(0.9);
}

.vinil-edicoes{
    margin: 20px;
    align-items: center;
}
.vinil-edicoes img{
    width: 200px;
}

.vinil-edicoes p{
    text-align: center;
    font-size: 18px;
}

.tracklist-container{
    display: flex;
    justify-content: center;
}

.tracklist{
    display: flex;
    align-items: center;
}

footer {
    background-color: #ffffff;
    color: #a0b3c3;
    padding: 2rem 0;
    font-family: 'tv';
    box-shadow: 2px -10px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    margin-top: 80px;
}

#footer_content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem 2rem;
    text-align: center;
}

#footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_contacts img {
    width: 200px;
    margin-bottom: 1rem;
}

#footer_contacts p {
    font-size: 18px;
    margin-bottom: 1.5rem;
    color: #a0b3c3;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

#footer_social_media a {
    font-size: 4rem; 
    color: #a0b3c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease;
}

#footer_social_media a:hover {
    color: #ffffff;
}

#footer_social_media i {
    font-size: 4rem;
}

.footer-list {
    list-style: none;
    text-align: center;
    margin-top: 2rem;
}

.footer-list h3 {
    font-size: 24px;
    margin-bottom: 1rem;
    color: #a0b3c3;
}

.footer-list li {
    margin-bottom: 0.5rem;
}

.footer-list .footer-link {
    text-decoration: none;
    color: #a0b3c3;
    transition: color 0.3s ease;
}

.footer-list .footer-link:hover {
    color: #000000;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (orientation: portrait) {

    header h2 {
        font-size: 20px;
    }

    nav li {
        display: none;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .mobile-menu-icon {
        display: block;
        cursor: pointer;
    }

    .mobile-menu-icon img {
        width: 20px;
        margin: 5px;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 50vw;
        height: 80vh;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .mobile-menu.open {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        margin: 0;
    }

    .mobile-menu li {
        margin: 20px 0;
    }

    .mobile-menu li a {
        color: #a0b3c3;
        font-size: 15px;
        text-decoration: none;
    }

    .mobile-menu li a:hover {
        color: #ffffff;
    }

    .sobre-containeir h2{
        font-size: 50px;
    }

    .foto-polaroid img{
        width: 300px;
    }

    swiper-container {
        width: 100%;
    }

    swiper-slide {
        width: 200px;
        height: 250px;
    }

    swiper-slide img{
        width: 100px;
        height: 100px;
    }

    swiper-slide p{
        font-size: 10px;
    }

    .vinil-container {
        flex-direction: column;
        align-items: center;
    }

    .vinil-edicoes {
        width: 80%;
        margin-bottom: 20px;
    }

    .vinil-edicoes img {
        width: 80px;
    }

    .vinil-edicoes p {
        font-size: 14px;
    }

    .tracklist-container {
        padding: 10px;
    }

    .tracklist {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tracklist img {
        width: 80%;
        max-width: 300px;
        height: auto;
        margin: 20px 0;
    }

    .tracklist p {
        font-size: 14px;
        margin: 10px 0;
        padding: 0 10px;
    }

    p[style] {
        margin-left: 0;
        text-align: center;
        font-size: 10px;
    }

    
    }



@media screen and (orientation: landscape) {
    
}